*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}


body{
    font-family:'Poppins',sans-serif;
    background:#fff;
    color:#222;
}



header{

position:absolute;
width:100%;
z-index:10;

}


nav{

display:flex;
justify-content:space-between;
align-items:center;
padding:25px 8%;

}



.logo{

font-family:'Playfair Display',serif;
font-size:32px;
font-weight:bold;
color:white;

}


.logo span{

color:#d4af37;

}



nav ul{

display:flex;
gap:35px;
list-style:none;

}


nav ul a{

text-decoration:none;
color:white;
font-size:16px;

}



.book-btn,
.main-btn{

background:#d4af37;
border:none;
padding:14px 30px;
border-radius:30px;
cursor:pointer;
font-weight:bold;

}




.hero{

height:100vh;

background:
linear-gradient(
rgba(0,0,0,.55),
rgba(0,0,0,.55)
),
url("https://images.unsplash.com/photo-1600607687920-4e2a09cf159d");

background-size:cover;
background-position:center;

display:flex;
align-items:center;
padding-left:8%;

}



.hero-content{

color:white;

}


.hero h1{

font-family:'Playfair Display',serif;
font-size:70px;
line-height:1.1;

}


.hero p{

font-size:20px;
margin:25px 0;

}




.search-box{

background:white;
box-shadow:0 10px 30px #0002;

padding:25px;

width:80%;
margin:-60px auto 50px;

display:flex;
gap:15px;

border-radius:15px;

}



.search-box input,
.search-box select{

flex:1;
padding:15px;
border:1px solid #ddd;
border-radius:10px;

}


.search-box button{

background:#111;
color:white;
border:none;
padding:15px 30px;
border-radius:10px;

}



.featured{

padding:50px 8%;

}


.featured h2{

text-align:center;
font-family:'Playfair Display',serif;
font-size:40px;

}



.cards{

display:flex;
gap:30px;
margin-top:40px;

}



.card{

flex:1;
box-shadow:0 10px 30px #0002;
border-radius:15px;
overflow:hidden;

}


.card img{

width:100%;
height:250px;
object-fit:cover;

}


.card h3,
.card p{

padding:15px;

}/* Hotels Page */


.dark-header{

background:#111;
position:relative;

}



.page-title{

height:400px;

background:
linear-gradient(
rgba(0,0,0,.6),
rgba(0,0,0,.6)
),
url("https://images.unsplash.com/photo-1564501049412-61c2a3083791");


background-size:cover;
background-position:center;

display:flex;
flex-direction:column;
justify-content:center;
align-items:center;

color:white;

}



.page-title h1{

font-family:'Playfair Display',serif;
font-size:60px;

}



.page-title p{

font-size:20px;

}




.hotel-container{

padding:70px 8%;

display:grid;
grid-template-columns:repeat(3,1fr);
gap:35px;

}



.hotel-card{

background:white;

border-radius:20px;

overflow:hidden;

box-shadow:0 15px 35px #0002;

}



.hotel-card img{

width:100%;
height:280px;
object-fit:cover;

}



.hotel-info{

padding:25px;

}



.hotel-info h2{

font-family:'Playfair Display',serif;

}



.hotel-info button{

background:#d4af37;
border:none;

padding:12px 30px;

border-radius:25px;

cursor:pointer;

margin-top:15px;

font-weight:bold;

}



@media(max-width:900px){

.hotel-container{

grid-template-columns:1fr;

}


nav ul{

display:none;

}


.hero h1{

font-size:45px;

}

}.apartment-title{

background:
linear-gradient(
rgba(0,0,0,.6),
rgba(0,0,0,.6)
),
url("https://images.unsplash.com/photo-1600607687939-ce8a6c25118c");

background-size:cover;
background-position:center;

}/* Booking Page */


.booking-section{

min-height:100vh;

background:
linear-gradient(
rgba(0,0,0,.5),
rgba(0,0,0,.5)
),
url("https://images.unsplash.com/photo-1566665797739-1674de7a421a");

background-size:cover;

display:flex;

justify-content:center;

align-items:center;

padding:80px 20px;

}



.booking-box{

background:white;

width:600px;

padding:40px;

border-radius:20px;

box-shadow:0 20px 40px #0004;

}



.booking-box h1{

font-family:'Playfair Display',serif;

text-align:center;

margin-bottom:30px;

}



.booking-box label{

display:block;

margin-top:15px;

font-weight:600;

}



.booking-box input,
.booking-box select,
.booking-box textarea{


width:100%;

padding:14px;

margin-top:8px;

border:1px solid #ddd;

border-radius:10px;

font-family:'Poppins';

}



.booking-box textarea{

height:120px;

resize:none;

}



.dates{

display:flex;

gap:20px;

}



.dates div{

flex:1;

}



.confirm-btn{

width:100%;

margin-top:25px;

padding:16px;

background:#d4af37;

border:none;

border-radius:30px;

font-size:18px;

font-weight:bold;

cursor:pointer;

}